fastapi
fastapi-limiter
uvicorn==0.24.0
python-multipart==0.0.6
requests==2.31.0
pyotp==2.9.0
cryptography==41.0.5
python-dotenv==1.0.0
beautifulsoup4==4.12.2
qrcode==7.4.2
pillow==10.0.0
slowapi
psutil
httpx==0.25.1
unidecode
pystray
pydantic==2.4.2
pydantic-settings==2.0.3